<div class="widget-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-3 col-md-6 mb-5 mb-lg-0">
                {{ partial "footer-social.html" . }}
            </div>
            <div class="col-sm-12 col-lg-4 col-md-6 mb-5 mb-lg-0">
                {{ partial "footer-activities.html" . }}
            </div>
            <div class="col-sm-12 col-lg-2 col-md-6 mb-5 mb-lg-0">
                {{ partial "footer-about.html" . }}
            </div>
            <div class="col-sm-12 col-lg-3 col-md-6 mb-5 mb-lg-0">
                {{ partial "footer-contacts.html" . }}
            </div>
            <div class="col mt-lg-5 mt-md-0">
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="font-weight-normal font-small mb-0">{{ site.Params.Copyright }}</p>
                </div>
            </div>
        </div>
    </div>
</div>