{{ if .IsTranslated }}
<ul class="navbar-nav navbar-nav-hover">
  <li class="nav-item dropdown">
    <a href="#" class="nav-link" data-toggle="dropdown" role="button">
      <span class="icon icon-sm"><span class="fas fa-language fa-lg"></span></span>
      <i class="fas fa-angle-down nav-link-arrow ml-2"></i>
    </a>
    <ul class="dropdown-menu">
      {{ range .Translations }}
      <li>
        <a class="dropdown-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
      </li>
      {{ end }}
      <li></li>
    </ul>
  </li>
</ul>
{{ end }}