{{ define "hero" }} {{ partial "hero-single.html" . }} {{ end }}

{{ define "title" }} 404: Page Not Found &ndash; {{ .Site.Title }} {{ end }}

{{ define "bottom-scripts" }}
<script type="text/javascript">
    particlesJS.load("header-page-particles-js", "/js/particles/particles.json");
</script>
{{ end }}

{{ define "main" }}
<section class="section section-sm">
    <article class="container">
        <section class="flow">
            <div class="widget widget-paragraph widget-align-center widget-size-100 ">
                <figure class="figure">
                    {{ with resources.Get "img/robots-404.jpg" }}
                    <img src="{{ .RelPermalink }}" class="rounded mx-auto d-block">
                    {{ end }}
                </figure>
            </div>
        </section>
    </article>
</section>
{{ end }}